td, th {border: 1px solid #CCC;}
th {background: #DFDFDF; font-weight: bold;
}
td {background: #FAFAFA; text-align: center;}
tr:nth-child(even) td { background: #F1F1F1; }
tr:nth-child(odd) td { background: #FEFEFE; }